@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500&family=Open+Sans:wght@500&family=Raleway:wght@500&family=Rubik:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@200;300;400;500&family=Epilogue:wght@500&family=Open+Sans:wght@500&family=Raleway:wght@500&family=Rubik:wght@300;500&display=swap");
.attribution {
  font-size: 16px;
  text-align: center; }

.attribution a {
  color: #bdc1ff; }

body {
  font-family: 'rubik', sans-serif; }

.attribute {
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  justify-content: center; }

p {
  font-family: 'anek telugu', sans-serif;
  font-size: 1rem; }
  @media (max-width: 560px) {
    p {
      font-size: 14px; } }
  @media (max-width: 425px) {
    p {
      text-align: left; } }

h1 {
  color: white;
  font-size: 42px;
  font-weight: 300;
  margin-top: 6px; }
  @media (max-width: 560px) {
    h1 {
      font-size: 32px; } }
  @media (max-width: 425px) {
    h1 {
      text-align: left;
      font-size: 28px; } }

ul {
  align-self: center; }

li {
  font-size: 18px; }
  @media (max-width: 1440px) {
    li {
      list-style: none;
      display: block;
      margin: 16px; } }
  @media (max-width: 780px) {
    li {
      display: inline-block;
      margin: 0 40px; } }
  @media (max-width: 560px) {
    li {
      display: inline-block;
      margin: 0 20px; } }
  @media (max-width: 375px) {
    li {
      display: inline-block;
      margin: 0 10px; } }

.activity {
  padding: 10px 6px; }
  .activity .activity_type {
    color: white;
    font-size: 18px; }
  @media (max-width: 560px) {
    .activity {
      font-size: 16px; } }

.time {
  font-size: 48px;
  color: white; }
  @media (max-width: 560px) {
    .time {
      font-size: 42px; } }

a {
  text-decoration: none; }

.active {
  color: white;
  cursor: pointer; }

.container {
  display: flex;
  padding: 1rem;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: auto; }
  @media (max-width: 780px) {
    .container {
      padding: 1rem;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      margin: auto; } }

.container, .box, .grid {
  border: 2px solid white; }

.box {
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 100%; }
  @media (max-width: 780px) {
    .box {
      width: 100%;
      height: auto; } }
  .box .flex {
    padding: 1rem;
    border-radius: 16px;
    display: flex;
    flex-direction: column; }
    @media (max-width: 780px) {
      .box .flex {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center; } }
    @media (max-width: 375px) {
      .box .flex {
        justify-content: space-between; } }
    .box .flex .jeremy {
      width: 80px; }
      @media (max-width: 780px) {
        .box .flex .jeremy {
          width: 70px; } }
      @media (max-width: 325px) {
        .box .flex .jeremy {
          width: 65px; } }
      .box .flex .jeremy img {
        width: 100%;
        border: 2px solid white;
        border-radius: 50%; }
  .box .menu {
    padding: 20px; }
    @media (max-width: 780px) {
      .box .menu {
        padding: 0;
        align-self: center; } }
    .box .menu ul {
      align-items: center;
      justify-content: center;
      padding: 0; }

.grid {
  display: grid;
  width: 78%;
  padding: 0 0 0 1.4rem;
  height: 100%;
  grid-gap: 1.4rem;
  grid-template-columns: 1fr 1fr 1fr; }
  @media (max-width: 780px) {
    .grid {
      padding: 1.4rem 0 0 0;
      grid-template-columns: 1fr 1fr;
      width: 100%; } }
  @media (max-width: 600px) {
    .grid {
      grid-gap: 1.4rem;
      grid-template-columns: 1fr;
      width: 100%;
      padding: 1.8rem 0; } }
  .grid .card, .grid .image, .grid .col {
    border-radius: 16px; }
  .grid .col {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    height: 200px; }
    @media (max-width: 560px) {
      .grid .col {
        width: 100%;
        height: 190px; } }
    .grid .col article {
      width: 100%; }
    .grid .col .image {
      padding: 4px; }
    .grid .col .image img {
      float: right;
      width: 25%; }
      @media (max-width: 560px) {
        .grid .col .image img {
          width: 15%; } }
    .grid .col .card {
      position: absolute;
      top: 20%;
      height: 80%;
      width: 100%;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      flex-wrap: nowrap; }
      .grid .col .card .activity {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap; }
      .grid .col .card .timeDisp {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center; }
        @media (max-width: 780px) {
          .grid .col .card .timeDisp {
            flex-direction: row;
            justify-content: space-between;
            align-items: center; } }

/* Color variales*/
html {
  box-sizing: border-box;
  font-size: 100%; }

*, *::before, *::after {
  box-sizing: inherit; }

body {
  font-weight: 300;
  padding: 0;
  margin: 0;
  background-color: #0f1424;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: first baseline;
  min-height: 100vh; }

p {
  color: #bdc1ff; }

.box {
  background-color: #1c1f4a; }

.flex {
  background-color: #5847eb; }

li {
  color: #6f76c8;
  font-weight: 400; }

li:hover {
  color: white;
  opacity: 0.7;
  cursor: pointer; }

.card {
  background-color: #1c1f4a; }

.history {
  color: white;
  padding: 16px 0; }

.col:nth-child(1) {
  background-color: #ff8c66; }

.col:nth-child(2) {
  background-color: #56c2e6; }

.col:nth-child(3) {
  background-color: #ff5c7c; }

.col:nth-child(4) {
  background-color: #4acf81; }

.col:nth-child(5) {
  background-color: #7536d3; }

.col:nth-child(6) {
  background-color: #f1c65b; }

.ellipsis:hover {
  cursor: pointer; }
