@import 'base';

html {
    box-sizing: border-box; 
    font-size: 100%;
 }
 *, *::before, *::after {
    box-sizing: inherit;
 }
 body {
    font-weight: 300;
    padding: 0;
    margin: 0;
    background-color: $body;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: first baseline;
    min-height: 100vh;
 }
 p {
   color: $Pale-text;
 }

.box {
   background-color: $card;
}
.flex {
   background-color: $jeremy;
}
li {
   color: $card-text;
   font-weight: 400;
}
li:hover {
   color: white;
   opacity: 0.7;
   cursor: pointer;
}
.card {
   background-color: $card;
}
.history {
   color: white;
   padding: 16px 0;
}

.col:nth-child(1){
   background-color: $work;
}
.col:nth-child(2) {
   background-color: $play;
}
.col:nth-child(3) {
   background-color: $study;
}
.col:nth-child(4) {
   background-color: $exercise;
}
.col:nth-child(5) {
   background-color: $social;
}
.col:nth-child(6) {
   background-color: $self-care;
}
.ellipsis:hover {
   cursor: pointer;
}