@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500&family=Open+Sans:wght@500&family=Raleway:wght@500&family=Rubik:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@200;300;400;500&family=Epilogue:wght@500&family=Open+Sans:wght@500&family=Raleway:wght@500&family=Rubik:wght@300;500&display=swap');


.attribution {
    font-size: 16px;
    text-align: center; }
.attribution a { 
    color:  hsl(236, 100%, 87%); 
}
body {
    font-family: 'rubik', sans-serif;
}
.attribute {
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;

    @media (max-width: 780px){
        padding: 1rem 0 1rem 1.4rem;
    }
}

p {
    font-family: 'anek telugu', sans-serif;
    font-size: 1rem;
 
    @media(max-width: 560px) {
        font-size: 16px;
    }
    @media(max-width: 425px) {
        text-align: left;
    }
 }
 h1 {
    color: white;
    font-size: 42px;
    font-weight: 300;

    @media(max-width: 560px) {
        font-size: 32px;
    }
    @media(max-width: 425px) {
        text-align: left;
        font-size: 28px;
    }
 }
ul {
    align-self: center;
}
li {
    font-size: 18px;
    list-style: none;
    display: block;
    margin: 16px;

    @media (max-width: 780px) {
        display: inline-block;
        margin: 0 40px;
    }
    @media (max-width: 560px) {
        margin: 0 20px;
    }
    @media (max-width: 375px) {
        margin: 0 12px;
    }

}

.activity {
    padding: 10px 6px;

    .activity_type {
        color: white;
        font-size: 18px;
    }
    @media(max-width: 560px) {
        font-size: 16px;
    }
}
.time {
    font-size: 48px;
    color: white;

    @media(max-width: 560px) {
        font-size: 42px;
    }
}
a {
    text-decoration: none;
}

.active {
    color: white;
    cursor: pointer;
}