.container {
    display: grid;
    grid-template-columns: 25% 1fr;
    grid-gap: 1.4rem;
    padding: 1rem;
    // flex-direction: row;
    // justify-content: space-around;
    // align-items: center;
    width: 80%;
    margin: auto;
   
    @media (max-width: 780px) {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        margin: auto;
    }
    @media(max-width: 475px){
        padding: 0.8rem;
    }
}

.container, .box, .grid {
    border: 2px solid white;
}

.box {
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    height: auto;
    //width: 25%;
    //height: 100%;
    
    @media (max-width: 780px) {
        width: 100%;
        height: auto;
    }


    .flex {
        padding: 1rem;
        border-radius: 16px;
        display: flex;
        flex-direction: column;

        
        @media (max-width: 780px) {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }
        @media(max-width: 375px) {
            justify-content: space-between;
        }

        .jeremy {
            width: 85px;

            @media (max-width: 780px) {
                width: 75px;
            }
            @media (max-width: 325px) {
                width: 70px;
            }

            img {
                width: 100%;
                border: 2px solid white;
                border-radius: 50%;
            }
        }
    }
    .menu {
        padding: 20px;

        @media (max-width: 780px) {
            padding: 0;
            align-self: center;
        }
        ul {
            align-items: center;
            justify-content: center;
            padding: 0;
           }
    }
}


.grid {
    display: grid;
    width: 78%;
    //padding: 0 0 0 1.4rem;
    //justify-content: space-around;
    //height: 100%;
    grid-gap: 1.4rem;
    grid-template-columns: 1fr 1fr 1fr;
   
    @media (max-width: 780px) {
        padding: 1.4rem 0 0 0;
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }
    @media (max-width: 600px) {
        grid-gap: 1.4rem;
        grid-template-columns: 1fr;
        width: 100%;
        padding: 1.8rem 0;
    }

    .card, .image, .col {
        border-radius: 16px; 
    }
    .col {
        display: flex;
        position: relative;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
        height: 200px;

        @media (max-width: 560px) {
            width: 100%;
            height: 190px;
        }
        article {
            width: 100%;
        }

        .image {
            padding: 4px;
        }
        .image img {
            float: right;
            width: 25%;

            @media(max-width: 560px) {
                width: 15%;
            }
        }
        .card {
            position: absolute;
            top: 20%;
            height: 80%;
            width: 100%;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            flex-wrap: nowrap;

            .activity {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                flex-wrap: nowrap;
            }
            .timeDisp {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
          
                @media(max-width: 780px){
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                }
            }
        }
    }
}

